.container {
  width: 95%;
  margin: 1% auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.progressContainer {
  width: 90%;
  margin: 2% auto;
}
